@{
    ViewBag.Title = "Blog";
}

<main>
<!-- Start Hero Section -->
<partial name="../Shared/partial/Hero.cshtml" />
<!-- End Hero Section -->



    <div class="blog-section">
        <div class="container">
            <div class="row" id="b">


                


                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail">
                            <img src="~/assets/images/post-1.jpg" alt="Image" class="img-fluid" />
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="#">First Time Home Owner Ideas</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Kristin Watson</a></span>
                                <span>on <a href="#">Dec 19, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail">
                            <img src="~/assets/images/post-2.jpg" alt="Image" class="img-fluid" />
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="#">How To Keep Your Furniture Clean</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Robert Fox</a></span>
                                <span>on <a href="#">Dec 15, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail">
                            <img src="~/assets/images/post-3.jpg" alt="Image" class="img-fluid" />
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Kristin Watson</a></span>
                                <span>on <a href="#">Dec 12, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail">
                            <img src="~/assets/images/post-1.jpg" alt="Image" class="img-fluid" />
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="#">First Time Home Owner Ideas</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Kristin Watson</a></span>
                                <span>on <a href="#">Dec 19, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail">
                            <img src="~/assets/images/post-2.jpg" alt="Image" class="img-fluid" />
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="#">How To Keep Your Furniture Clean</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Robert Fox</a></span>
                                <span>on <a href="#">Dec 15, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail">
                            <img src="~/assets/images/post-3.jpg" alt="Image" class="img-fluid" />
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Kristin Watson</a></span>
                                <span>on <a href="#">Dec 12, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail">
                            <img src="~/assets/images/post-1.jpg" alt="Image" class="img-fluid" />
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="#">First Time Home Owner Ideas</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Kristin Watson</a></span>
                                <span>on <a href="#">Dec 19, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail">
                            <img src="~/assets/images/post-2.jpg" alt="Image" class="img-fluid" />
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="#">How To Keep Your Furniture Clean</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Robert Fox</a></span>
                                <span>on <a href="#">Dec 15, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail">
                            <img src="~/assets/images/post-3.jpg" alt="Image" class="img-fluid" />
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Kristin Watson</a></span>
                                <span>on <a href="#">Dec 12, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="../Shared/partial/imonial-slider.cshtml" />


</main>

@section Scripts {
    <script>
    
        var blog = "";
        var html = "";

      var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:

                blog=JSON.parse(xhttp.responseText);

                for (var x in blog) {

                    html+=`<div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail">
                            <img src="/assets/images/post-${blog[x].id}.jpg" alt="Image" class="img-fluid" />
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="#">${blog[x].name}</a></h3>
                            <div class="meta">
                                        <span>by <a href="#">${blog[x].author}</a></span>
                                <span>on <a href="#">${blog[x].date}</a></span>
                            </div>
                        </div>
                    </div>
                </div>`
                    
                }
                document.getElementById("b").innerHTML = html;
            }
        };
            xhttp.open("GET", "/APIBlog/GetBlog", true);
        xhttp.send();

    
</script>
}